@model YomiOlatunji.Core.DbModel.Post.Post


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main">
    <div class="section">
        <div class="container">

            <div>
                <h4>Post</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Slug)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Slug)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>
                    <dd class="col-sm-10">
                            @Html.Raw(Model.Content)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Excerpt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Excerpt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HeaderImage)
                    </dt>
                    <dd class="col-sm-10">
                        <img src="@Model.HeaderImage"/>
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CanComment)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CanComment)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsPublished)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsPublished)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsArchived)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsArchived)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PublishDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorizeTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorizeTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AuthorizedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AuthorizedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsAuthorized)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsAuthorized)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreateBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreateBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdateBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdateBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsDeleted)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-area="Admin" asp-controller="Post" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
